.signInLeftContainer {
  display: flex;
  height: 100vh;
  overflow-y:scroll ;
}

.signInRightContainer {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 65%;
}

.accessApplicationText {
  font-family: Roboto-Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  color: #2b4078;
}

.accessApplicationText + div {
  font-family: Roboto-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #333f51;
}

.orTextContainer {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.dividerBorder {
  height: 1px;
  width: 100%;
  background-color: #d5dae1;
}

.orText {
  margin: 10px;
  font-family: Roboto-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.28px;
  text-align: left;
}

.btnChild {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  font-family: Roboto-regular;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
}

.editEmail {
  text-decoration: underline;
  color: #ee6c4d;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

.warning {
  width: 100%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  gap: 10px;
  padding: 12px;
  border: 1px solid #d5dae1;
  border-radius: 8px;
  margin-top: 30px;
  color: var(--Text, #333f51);
  font-family: Roboto-regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* otp resend */

.otpResentContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

div.otpResentContainer > div:first-child {
  color: #8896ab;
  font-family: Roboto-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.otpResentContainer > div {
  color: #2b4078;
  text-align: right;
  font-family: Roboto-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.resendBtn {
  color: #2b4078;
  text-align: right;
  font-family: Roboto-regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  cursor: pointer;
}

.resendBtn:active {
  opacity: 0.6;
}

@media (max-width: 992px) {
  .signInLeftContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y:scroll ;
  }
}
