.interviewScreenContainer {
  height: 100vh;
  background-color: #192890;
}

.interviewSideBar {
  background-color: #192890;
  width: 300px;
  position: relative;
  overflow-y: scroll;
}

.interviewSideBarContent {
  bottom: 30px;
}
